		<input id="aspCodeRaw" type="hidden" value="<%= @net %>" />
		<input id="aspHtmlRaw" type="hidden" value="<%= @nethtml %><" />
		
		<input id="phpCodeRaw" type="hidden" value="<%= @php %>" />
		
		<input id="rubyCodeRaw" type="hidden" value="<%= @ror %>" />
		<input id="rubyHtmlRaw" type="hidden" value="<%= @rorhtml %><" />
		
		<input id="djangoCodeRaw" type="hidden" value="<%= @django %>" />
		<input id="djangoHtmlRaw" type="hidden" value="<%= @djangohtml %><" />
		
		<input id="nodeCodeRaw" type="hidden" value="<%= @node %>" />
		<input id="nodeHtmlRaw" type="hidden" value="<%= @nodehtml %><" />
		
		<div class="container">
			<h1>Kato Adhoc Room code snippets</h1>
			<br />
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Secret Key</label>
					<div class="controls">
						<input type="text" id="skey" placeholder="Secret Key">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Public Key</label>
					<div class="controls">
						<input type="text" id="pkey" placeholder="Public Key">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">User ID</label>
					<div class="controls">
						<input type="text" id="userid" placeholder="User ID">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">User Name</label>
					<div class="controls">
						<input type="text" id="username" placeholder="User Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Room ID</label>
					<div class="controls">
						<input type="text" id="roomid" placeholder="Room ID">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Room Name</label>
					<div class="controls">
						<input type="text" id="roomname" placeholder="Room Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Session Duration</label>
					<div class="controls">
						<input type="text" id="duration" placeholder="Session Duration">
					</div>
				</div>
			</form>


		<h2>Choose Language</h2>
		<br />
		<ul class="nav nav-tabs" id="tabs">
				<li class="active">
					<a href="#AspNet" class="aspNet">Asp NET</a>
				</li>
				<li>
					<a href="#php" class="php">PHP</a>
				</li>
				<li>
					<a href="#ruby" class="ruby">Ruby On Rails</a>
				</li>
				<li>
					<a href="#django" class="django">Django Phyton</a>
				</li>
				<li>
					<a href="#nodeJS" class="nodeJS">NodeJS</a>
				</li>
			</ul>
		
		<br />
			<div class="tabs" id="aspNet">
				<div class="alert alert-info"><b>Instructions:</b> Install nuget package <i>"Install-Package KatoAdhocExpress"</i></div>
				<h4>Asp.NET Code:</h4>
				<pre>
					<code></code>
				</pre>
				<h4>Html:</h4>
				<pre>
					<code></code>
				</pre>
			</div>

			<div class="tabs" id="php">
				<div class="alert alert-info"><b>Instructions:</b> Download JWT class from <a target="_new" href="https://github.com/cfrett/JWT-PHP/blob/master/JWT.php">"https://github.com/cfrett/JWT-PHP/blob/master/JWT.php</a></i></div>
				<h4>Php Code:</h4>
				<pre>
					<code></code>
				</pre>
			</div>
			<div class="tabs" id="ruby">
				<div class="alert alert-info"><b>Instructions:</b> Install GEM package <i>"gem install katoadhocexpress"</i></div>
				<h4>Ruby Code:</h4>
				<pre>
					<code></code>
				</pre>
				<h4>Html:</h4>
				<pre>
					<code></code>
				</pre>
			</div>
			<div class="tabs" id="django">
				<div class="alert alert-info"><b>Instructions:</b> Install package <i>"sudo easy_install PyJWT"</i></div>
				<h4>Phyton (Django) Code:</h4>
				<pre>
					<code></code>
				</pre>
				<h4>Html:</h4>
				<pre>
					<code></code>
				</pre>
			</div>
			<div class="tabs" id="nodeJS">
				<div class="alert alert-info"><b>Instructions:</b> Install package <i>"npm install kato-adhoc-express</i></div>
				<h4>NodeJS Code:</h4>
				<pre>
					<code></code>
				</pre>
				<h4>Html:</h4>
				<pre>
					<code></code>
				</pre>
			</div>

		
	
	

	<style type="text/css">
			.tabs{
				display:none;
			}
			.container input{
				padding:13px !important;
			}
		</style>
