		<div class="container">
			<h1>JWT code snippet generator</h1>
			<br />
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Secret Key</label>
					<div class="controls">
						<input type="text" id="skey" placeholder="Secret Key">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Public Key</label>
					<div class="controls">
						<input type="text" id="pkey" placeholder="Public Key">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">User ID</label>
					<div class="controls">
						<input type="text" id="user_id" placeholder="User ID">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">User Name</label>
					<div class="controls">
						<input type="text" id="user_name" placeholder="User Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Room ID</label>
					<div class="controls">
						<input type="text" id="room_id" placeholder="Room ID">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Room Name</label>
					<div class="controls">
						<input type="text" id="skey" placeholder="Room Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Session Duration</label>
					<div class="controls">
						<input type="text" id="exp" placeholder="Session Duration">
					</div>
				</div>
			</form>


		<h2>Choose Language</h2>
		<br />
		<ul class="nav nav-tabs">
				<li class="active">
					<a href="#AspNet">Asp NET</a>
				</li>
				<li>
					<a href="#php">PHP</a>
				</li>
				<li>
					<a href="#ruby">Ruby On Rails</a>
				</li>
				<li>
					<a href="#django">Django Phyton</a>
				</li>
				<li>
					<a href="#nodeJS">NodeJS</a>
				</li>
			</ul>
		
		
			<div class="tabs" id="AspNet">
				ASP NEET
			</div>

			<div class="tabs" id="php">
				PHPPP
			</div>
			<div class="tabs" id="ruby">
				RUBY ON RAILS
			</div>
			<div class="tabs" id="django">
				DJANGOOO
			</div>
			<div class="tabs" id="nodeJS">
				ASP NEET
			</div>

		
		
		
		
		
		
		
		
		
		
	
	</br>
	<br>
	<br>

	<form name="languages">
		Select the language
		<br>
		<input type="radio" name="languages" onclick="radioClicked(this)"value="net">
		Asp.Net
		<br>
		<input type="radio" name="languages"  onclick="radioClicked(this)"value="php">
		PHP
		<br>
		<input type="radio" name="languages" onclick="radioClicked(this)"value="ror">
		Ruby On Rails
		<br>
		<input type="radio" name="languages" onclick="radioClicked(this)"value="django">
		Django Python
		<br>
		<input type="radio" name="languages" onclick="radioClicked(this)" value="node">
		NodeJS
		<br>
	</form>

	<div id="code" style="display:none;"></div>
	<div id="php" style="display:none;">
		PHP
		<label style="font-weight:bold;">https://github.com/cfrett/JWT-PHP/blob/master/JWT.php</label>
		<pre style="width:1100px" class="prettyprint" id="phpcode"><%= @php %></pre>
	</div>
	<div id="net" style="display:none;">
		.NET
		<label style="font-weight:bold;">Install-Package JWT</label>
		<pre style="width:1100px" class="prettyprint" id="netcode"'><%= @net %></pre>
		HTML
		<pre style="width:1100px" class="prettyprint"><%= @nethtml %></pre>
		</div>
		<div id="node" style="display:none;">
		Node.js
		<label style="font-weight:bold;">npm install jwt-simple</label>
		<pre style="width:1100px" class="prettyprint" id="nodecode"><%= @node %></pre>
		HTML
		<pre style="width:1100px" class="prettyprint"><%= @nodehtml %></pre>
		</div>

		<div id="ror" style="display:none;">
		Ruby on Rails
		<label style="font-weight:bold;">gem install jwt</label>
		<pre style="width:1100px" class="prettyprint" id="rorcode"><%= @ror %></pre>
		HTML
		<pre style="width:1100px" class="prettyprint"><%= @rorhtml %></pre>
		</div>

		<div id="django" style="display:none;">
		Django Python.
		<label style="font-weight:bold;">sudo easy_install PyJWT</label>
		<pre style="width:1100px" class="prettyprint" id="djangocode"><%= @django %></pre>
		HTML
		<pre style="width:1100px" class="prettyprint"><%= @djangohtml %></pre>
		</div>

	<style type="text/css">
			.tabs{
				display:none;
			}
		</style>
